* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0B2434;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
    position: relative;
}

main{
    background-color: #F5F5F5;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-family: Karla;
    font-size: 25.6px;
    font-weight: 700;
    line-height: 29.93px;
    letter-spacing: -0.03em;
    }

.instructions {
    font-family: 'Inter', sans-serif;
    font-size: 13.11px;
    font-weight: 400;
    line-height: 15.86px;
    letter-spacing: -0.03em;
    text-align: center;
    padding: 10px;
}

.dice-container{
    display: grid;
    grid: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 18px;
}

.die-el{
    background-color: #FFFFFF;
    color: #2B283A;
    font-family: "Karla", sans-serif;
    font-size: 20.59px;
    font-weight: 700;
    line-height: 24.07px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px 0px #00000026;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}


main > button {
    background-color: #5035FF;
    box-shadow: 0px 3.2px 7.68px 0px #0000002E;
    color: white;
    font-family: Karla;
    font-size: 16.38px;
    font-weight: 700;
    line-height: 19.15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 35px;
    border: none;
    border-radius: 4px;
    text-wrap: nowrap;
    cursor: pointer;
}

main > button:focus{
    outline: none;
}

main > button:active{
    box-shadow: inset 5px 5px 10px -3px black;
}

.main--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SCORE */

.score{
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b2434dd;
    border-radius: 10px;
}

.score--container{
    text-align: center;
    background-color: transparent;
}

.score--container > h2{
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}

.score--container > p{
    margin-bottom: 15px;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.dismiss-score{
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border:none;
}

.remove-icon{
    width: 100%;
}


@media (max-width: 768px) {

    main{
        width: 300px;
        height: 300px;
    }

    .die-el{
        width: 40px;
        height: 40px;
    }

    .main--text {
        font-size: 16px;
    }
    .dice-container {
        flex-direction: column;
    }
    .score {
        width: 100%;
        height: 100%;
    }
}

